.btn-new {
  position: fixed;
  bottom: 2vmin;
  right: 2vmin;
  background-color: rgb(10, 129, 107);
  color: rgb(8, 12, 11);
  border-radius: 50%;
  width:5rem;
  height:5rem;
  display: flex;
  justify-content:center;
  align-items:center;  
  border:none;
  font-size: 2.3rem;
  transition: transform 100ms ease-in-out;
}
